
@import url("./components/layout/Header.css");
@import url("./components/layout/Aside.css");
@import url("./components/layout/Footer.css");
@import url("./components/layout/Dialog.css");

@import url("./components/chat/Article.css");

@import url("./components/ui/Button.css");
@import url("./components/ui/Checkbox.css");
@import url("./components/ui/Input.css");
@import url("./components/ui/Label.css");
@import url("./components/ui/Number.css");
@import url("./components/ui/Range.css");
@import url("./components/ui/Select.css");
@import url("./components/ui/Textarea.css");

@import url("./webfonts/index.css");

@import url("./layout.css");
@import url("./theme.css");

body {
	margin: 0px;
	padding: 0px;
	color: var(--main-color);
	background: var(--main-background);
}

::selection {
	color: #ffffff;
	background: #0f99cb;
}

