
dialog {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	background: rgba(0,0,0,0.5);
	/* transform: translate(0%, -100%); */
	transition: all 250ms ease-out;
	pointer-events: none;
	opacity: 0;
	z-index: 30;
}

dialog,
dialog[data-layout="flow"] {
	display: block flow-root;
	flex-direction: unset;
	align-items: unset;
	justify-content: unset;
}

dialog[data-layout="flex"] {
	display: block flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

dialog[data-layout="grid"] {
	display: block grid;
	align-items: unset;
	justify-content: unset;
}

dialog[open] {
	transform: translate(0%, 0%);
	opacity: 1;
	pointer-events: all;
}

dialog article {
	display: block;
	position: fixed;
	width: auto;
	min-width: 512px;
	height: auto;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 250ms ease-out;
	color: var(--article-color);
	background: var(--article-background);
	border: 1px solid var(--article-border);
	border-radius: 8px;
	z-index: 31;
}

dialog article h3 {
	display: block;
	position: static;
	margin: 0px;
	padding: 8px 8px;
	font-family: 'cantarell';
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: var(--header-color);
	background: var(--header-background);
	border-radius: 8px 8px 0px 0px;
	user-select: none;
}

dialog article button[data-action="close"] {
	display: block;
	position: absolute;
	width: auto;
	top: 4px;
	right: 4px;
	margin: 0px;
	padding: 4px 6px;
}

dialog article button[data-action="close"]:before {
	margin: 0px;
}

dialog article fieldset {
	margin: 0px;
	border: 0px solid transparent;
}

dialog article fieldset div {
	display: block;
	margin: 8px;
	padding: 0px;
}

dialog article fieldset div label {
	display: inline-block;
	width: 128px;
	height: auto;
	line-height: 30px;
	font-family: 'vera-mono';
	vertical-align: top;
}

dialog article fieldset div label + select,
dialog article fieldset div label + input {
	display: inline-block;
	width: 384px;
	line-height: 30px;
	vertical-align: middle;
}

dialog article fieldset div label + textarea {
	width: 384px;
	min-height: 10em;
	vertical-align: top;
}

